@* Burası her bir KİTABI göstermeye yarar! *@
@model Kitap
<div class="col-3">
    <div class="card text-center mb-4" style="height:270px">
        <div class="card-header bg-primary text-white">
            <h6 class=" display-6 fs-6 fw-normal m-0">@Model.Ad</h6>
        </div>
        <div class="card-body bg-light">
            <div class="card-title">
                @Model.Kategori.Ad
            </div>
            <div>
                <p>Yazar: @Model.Yazar.Ad</p>
                <p>Basım Yılı: @Model.BasimYili</p>
                <p>Sayfa Sayısı: @Model.SayfaSayisi</p>
            </div>
        </div>
        <div class="card-footer">
            <a asp-controller="Home" asp-action="Detay" asp-route-id=@Model.Id class="btn btn-sm btn-info">İncele</a>
            <a class="btn btn-sm btn-success">Sepete Ekle</a>
        </div>
    </div>
</div>